/*.conteudo{
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
    width: 150px;
}*/

#noticia{
    background: #b8b8b8;
    padding: 10px;
    border: 1px solid green;
}
h2{
    border: 1px solid red;
    margin: 0px;
}