body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    margin: 0px 10px;
    padding: 0px;
    font-size: 14pt;
}

fieldset {
    border-color: #ccc;
    width: 600px;
    margin-top: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
}

input[type="text"] {
    width: 20em;
    margin-bottom: 10px;
}

textarea {
    width: 20em;
    height: 10em;
}

label.radio, input.radio {
    display: inline;
}