body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
}

table {
    margin-left: 15px;
    width: 700px;
    text-align: left;
}

th, td {
    /*border: 1px solid red;*/
}

th {
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: 0.1em;
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

.alternado {
    background-color: #f0f0f0;
}

.numero {
    text-align: right;
}

tr:hover {
    background-color: #c3e6e5;
}

tr#cabecalho:hover {
    background-color: white;
}